/* Общие стили */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
    font-style: bold;
    background: linear-gradient(to right, #fab8ff, #f0f0f0);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}